<h1>Pair Students</h1>
<hr>

<form action="/manager/add_student" method="get">
  <input type="text" placeholder="First Name" id="firstName" name="firstName"/><br/>
  <input type="text" placeholder="Last Name" id="lastName" name="lastName"/><br/>
  <select id="classNumber" name="classNumber">
    <% total_classes = Student.maximum('class_number') %>
    <% if total_classes.nil? %>
      <option value="1">Class 1</option>
    <% else %>
      <% (total_classes+1).times do |i| %>
        <option value="<%=i+1%>"
          <% if cookies[:seeClass].to_i == i+1 %>
            selected
          <% end %>
          >Class <%=i+1%>
        </option>
      <% end %>
    <% end %>
  </select><br/>
  <input type="submit" value="Add Student"/>
</form>
<p>Note: Adding Students will erase all Used Pairs</p>
<hr>

<form action="/display/see_class" method="get">
  <select id="seeClass" name="seeClass">
    <% if total_classes.nil? %>
      <option>No Classes</option>
    <% else %>
      <% total_classes.times do |i| %>
        <option
          <% if cookies[:seeClass].to_i == i+1 %>
            selected
          <% end %>
          >Class <%=i+1%>
        </option>
      <% end %>
    <% end %>
  </select>
  <input type="submit" value="See Class"/>
</form>

<p>
  Students</br>
  Note: deleting a student will remove all associated pairs</br>
  <%= link_to('Pair', {:controller => 'display', :action => 'pair'})%>
</p>
<ul>
  <% if !@class_students.nil? %>
    <% @class_students.each do |student| %>
      <li>
        <%= link_to('Delete', {:controller => 'manager', :action => 'delete', :displayedFirstName => "#{student.first_name}", :displayedLastName => "#{student.last_name}" }) %>
        <%= "#{student.first_name} " "#{student.last_name}" %>
      </li>
    <% end %>
  <% end %>
</ul>
<p>
  Today's Pairs
  <% if !@paired_class.nil? %>
    : Class <%= @paired_class %>
  <% end %>
</p>
<ul>
  <% if !@pair_results.nil? %>
    <% print_results = 0 %>
    <% @pair_results.each do |name| %>
      <% if print_results%2 == 0 %>
        <li><%= name %> and
      <% else %>
        <%= name %></li>
      <% end %>
      <% print_results += 1 %>
    <% end %>
  <% end %>
</ul>

<p>
  Used Pairs
  <% if !cookies[:seeClass].nil? %>
    : Class <%= cookies[:seeClass] %></p>
    <p>
      <form action="/manager/delete_pair_sets" method="get">
        <select name="delete_pair">
          <option>All</option>
          <% newest_pair = Pair.where(:class_number => cookies[:seeClass]).maximum('pair_set') %>
          <% if !newest_pair.nil? %>
            <% newest_pair.times do |num| %>
              <option>Set <%=num+1%></option>
            <% end %>
          <% end %>
        </select>
        <input type="submit" value="Delete"/>
      </form>
    </p>
  <% end %>
<ul>
  <% if !@student_pairs.nil? %>
    <% @student_pairs.each do |pair| %>
      <li>
        <%= link_to('Delete', {:controller => 'manager', :action => 'delete_pair', :displayedFirstId => "#{pair.first_id}", :displayedSecondId => "#{pair.second_id}" }) %>
        <%= "Class #{@paired_class} " "Set #{pair.pair_set} " "#{pair.first_full_name} and " "#{pair.second_full_name}" %>
      </li>
    <% end %>
  <% end %>
</ul>
